/* Toolbar
 *----------------------------------------------------------------------------*/
.midas-toolbar {
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  }
.midas-toolbar .loading {
  background-image: url(../../images/midas/toolbars/loading.gif);
  background-repeat: no-repeat;
  background-position:  center;
  }

/* Toolbar: Actionbar
 *----------------------------------------------------------------------------*/
.midas-actionsbar {
  width: 10000px;
  text-shadow: #EEE 0 1px 0;
  height: 60px;
  padding-right: 10px;
  background: #E2E1E2 url(../../images/midas/toolbars/actions/_background.png) repeat-x bottom;
  }
.midas-actionsbar .midas-button {
  display: block;
  float: left;
  margin-left: 7px;
  background-repeat: no-repeat;
  background-position: 50% 7px;
  height: 10px;
  min-width: 30px;
  text-align: center;
  padding: 43px 5px 0 5px;
  white-space: nowrap;
  text-decoration: none;
  outline: none;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  }
.midas-actionsbar .midas-button em {
  display: block;
  margin: 0 -5px;
  font-style: normal;
  color: #222;
  cursor: default;
  font-size: 8.5pt;
  }
.midas-actionsbar .midas-button.disabled,
.midas-actionsbar.disabled .midas-button,
.disabled .midas-actionsbar .midas-button {
  opacity: 0.33 !important;
  }
.midas-actionsbar .midas-separator,
.midas-actionsbar .midas-line-separator,
.midas-actionsbar .midas-flex-separator {
  display: block;
  float: left;
  border: 0;
  height: 47px;
  padding: 0 20px;
  background: url(../../images/midas/toolbars/actions/_separator.png) no-repeat;
  }
.midas-actionsbar .midas-button-save            { background-image: url(../../images/midas/toolbars/actions/save.png); }
.midas-actionsbar .midas-button-preview         { background-image: url(../../images/midas/toolbars/actions/preview.png); }
.midas-actionsbar .midas-button-undo            { background-image: url(../../images/midas/toolbars/actions/undo.png); }
.midas-actionsbar .midas-button-redo            { background-image: url(../../images/midas/toolbars/actions/redo.png); }
.midas-actionsbar .midas-button-insertlink      { background-image: url(../../images/midas/toolbars/actions/insertlink.png); }
.midas-actionsbar .midas-button-insertmedia     { background-image: url(../../images/midas/toolbars/actions/insertmedia.png); }
.midas-actionsbar .midas-button-inserttable     { background-image: url(../../images/midas/toolbars/actions/inserttable.png); }
.midas-actionsbar .midas-button-insertobject    { background-image: url(../../images/midas/toolbars/actions/insertobject.png); }
.midas-actionsbar .midas-button-insertcharacter { background-image: url(../../images/midas/toolbars/actions/insertcharacter.png); }
.midas-actionsbar .midas-button-inspectorpanel  { background-image: url(../../images/midas/toolbars/actions/inspectorpanel.png); }
.midas-actionsbar .midas-button-notespanel      { background-image: url(../../images/midas/toolbars/actions/notespanel.png); }
.midas-actionsbar .midas-button-historypanel    { background-image: url(../../images/midas/toolbars/actions/historypanel.png); }

/* Toolbar: HTMLEditor
 *----------------------------------------------------------------------------*/
.midas-htmleditorbar {
  padding: 3px 13px 1px 10px;
  background: #D2D2D1 url(../../images/midas/toolbars/htmleditor/_background.png) repeat-x bottom;
  }
.midas-htmleditorbar:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
  }

.midas-htmleditorbar .midas-separator,
.midas-htmleditorbar .midas-line-separator,
.midas-htmleditorbar .midas-flex-separator {
  display: block;
  float: left;
  border: 0;
  height: 18px;
  padding: 0;
  margin: 0 7px 0 0;
  width: 1px;
  background: url(../../images/midas/toolbars/htmleditor/_separator.png) no-repeat;
  }
.midas-htmleditorbar .midas-line-separator {
  background: url(../../images/midas/toolbars/htmleditor/_line_separator.png) no-repeat;
  }
.midas-htmleditorbar .midas-button {
  display: block;
  outline: none;
  float: left;
  height: 18px;
  width: 23px;
  margin: 0 7px 4px 0;
  }
.midas-htmleditorbar .midas-button em {
  display: none;
  }
.midas-htmleditorbar .midas-button,
.midas-htmleditorbar .midas-button em {
  background-image: url(../../images/midas/toolbars/htmleditor/buttons.png);
  }
.midas-htmleditorbar .midas-button.disabled,
.midas-htmleditorbar.disabled .midas-button,
.disabled .midas-htmleditorbar .midas-button {
  opacity: 0.33 !important;
  }
.midas-htmleditorbar .midas-group {
  float: left;
  }
.midas-htmleditorbar .midas-group.disabled .midas-button {
  opacity: 0.33 !important;
  }
.midas-htmleditorbar .midas-group .midas-button {
  width: 22px;
  margin-left: 0;
  margin-right: 0;
  }
.midas-htmleditorbar .midas-group .midas-button:first-child {
  width: 23px;
  }
.midas-htmleditorbar .midas-group .midas-separator,
.midas-htmleditorbar .midas-group .midas-line-separator,
.midas-htmleditorbar .midas-group .midas-flex-separator {
  margin-left: 7px;
  }

/* standard buttons */
.midas-htmleditorbar .midas-button-bold                       { background-position: -68px 0 }
.midas-htmleditorbar .midas-button-bold.active                { background-position: -68px -18px }
.midas-htmleditorbar .midas-button-italic                     { background-position: -91px 0 }
.midas-htmleditorbar .midas-button-italic.active              { background-position: -91px -18px }
.midas-htmleditorbar .midas-button-overline                   { background-position: -113px 0 }
.midas-htmleditorbar .midas-button-overline.active            { background-position: -113px -18px }
.midas-htmleditorbar .midas-button-strikethrough              { background-position: -135px 0 }
.midas-htmleditorbar .midas-button-strikethrough.active       { background-position: -135px -18px }
.midas-htmleditorbar .midas-button-underline                  { background-position: -157px 0 }
.midas-htmleditorbar .midas-button-underline.active           { background-position: -157px -18px }
.midas-htmleditorbar .midas-button-subscript                  { background-position: -180px 0 }
.midas-htmleditorbar .midas-button-subscript.active           { background-position: -180px -18px }
.midas-htmleditorbar .midas-button-superscript                { background-position: -203px 0 }
.midas-htmleditorbar .midas-button-superscript.active         { background-position: -203px -18px }
.midas-htmleditorbar .midas-button-justifyleft                { background-position: -226px 0 }
.midas-htmleditorbar .midas-button-justifyleft.active         { background-position: -226px -18px }
.midas-htmleditorbar .midas-button-justifycenter              { background-position: -249px 0 }
.midas-htmleditorbar .midas-button-justifycenter.active       { background-position: -249px -18px }
.midas-htmleditorbar .midas-button-justifyright               { background-position: -271px 0 }
.midas-htmleditorbar .midas-button-justifyright.active        { background-position: -271px -18px }
.midas-htmleditorbar .midas-button-justifyfull                { background-position: -293px 0 }
.midas-htmleditorbar .midas-button-justifyfull.active         { background-position: -293px -18px }
.midas-htmleditorbar .midas-button-insertunorderedlist        { background-position: -316px 0 }
.midas-htmleditorbar .midas-button-insertunorderedlist.active { background-position: -316px -18px }
.midas-htmleditorbar .midas-button-insertorderedlist          { background-position: -339px 0 }
.midas-htmleditorbar .midas-button-insertorderedlist.active   { background-position: -339px -18px }
.midas-htmleditorbar .midas-button-outdent                    { background-position: -362px 0 }
.midas-htmleditorbar .midas-button-outdent.active             { background-position: -362px -18px }
.midas-htmleditorbar .midas-button-indent                     { background-position: -385px 0 }
.midas-htmleditorbar .midas-button-indent.active              { background-position: -385px -18px }
.midas-htmleditorbar .midas-button-insertrowbefore            { background-position: -408px 0 }
.midas-htmleditorbar .midas-button-insertrowbefore.active     { background-position: -408px -18px }
.midas-htmleditorbar .midas-button-insertrowafter             { background-position: -431px 0 }
.midas-htmleditorbar .midas-button-insertrowafter.active      { background-position: -431px -18px }
.midas-htmleditorbar .midas-button-deleterow                  { background-position: -453px 0 }
.midas-htmleditorbar .midas-button-deleterow.active           { background-position: -453px -18px }
.midas-htmleditorbar .midas-button-insertcolumnbefore         { background-position: -475px 0 }
.midas-htmleditorbar .midas-button-insertcolumnbefore.active  { background-position: -475px -18px }
.midas-htmleditorbar .midas-button-insertcolumnafter          { background-position: -497px 0 }
.midas-htmleditorbar .midas-button-insertcolumnafter.active   { background-position: -497px -18px }
.midas-htmleditorbar .midas-button-deletecolumn               { background-position: -519px 0 }
.midas-htmleditorbar .midas-button-deletecolumn.active        { background-position: -519px -18px }
.midas-htmleditorbar .midas-button-horizontalrule             { background-position: -542px 0 }
.midas-htmleditorbar .midas-button-horizontalrule.active      { background-position: -542px -18px }
.midas-htmleditorbar .midas-button-pagebreak                  { background-position: -565px 0 }
.midas-htmleditorbar .midas-button-pagebreak.active           { background-position: -565px -18px }
.midas-htmleditorbar .midas-button-removeformatting           { background-position: -588px 0 }
.midas-htmleditorbar .midas-button-removeformatting.active    { background-position: -588px -18px }
.midas-htmleditorbar .midas-button-html                       { background-position: -612px 0 }
.midas-htmleditorbar .midas-button-html.active                { background-position: -612px -18px }

/* color palette buttons */
.midas-htmleditorbar .midas-palette-button,
.midas-htmleditorbar .midas-palette-button {
  background-position: 0 -36px;
  }

/* select buttons */
.midas-htmleditorbar .midas-select-button {
  width: auto;
  background-position: -24px -36px;
  overflow: hidden;
  padding-left: 6px;
  }
.midas-htmleditorbar .midas-select-button em {
  background-position: right -36px;
  display: block;
  white-space: nowrap;
  padding-right: 15px;
  font-style: normal;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: 8.5pt;
  line-height: 19px;
  cursor: pointer;
  }
