/* Midas IFRAME setup
 *----------------------------------------------------------------------------*/
.midas-iframe-container {
  position: absolute;
  z-index: 10000;
  background: #FFF;
  width: 100%;
  }
.midas-iframe-window {
  width: 100%;
  }
