/* Modal
 *----------------------------------------------------------------------------*/
#midas_modal_overlay {
  position: fixed;
  z-index: 10010;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  opacity: 0.65;
  height: 100%;
  }

#midas_modal {
  width: 500px;
  margin: 0 auto;
  font: normal normal normal 12px/normal Helvetica, Tahoma, Arial, sans-serif;
  }
#midas_modal.loading .midas-modal-content {
  background: url(../images/midas/loading-light.gif) no-repeat center;
  }
#midas_modal .midas-modal-frame {
  position: fixed;
  top: 0;
  z-index: 10011;
  width: 500px;
  background: #EFEFEF;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .9);
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .9);
  box-shadow: 0 0 40px rgba(0, 0, 0, .9);
  display: block;
  padding: 0 0 10px;
  margin: 0;
  }
#midas_modal h1 {
  background: #DDD;
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 2px 10px 0 10px;
  font: normal normal bold 14px/23px Helvetica, Tahoma, Arial, sans-serif;
  }
#midas_modal h1 span {
  color: #000;
  text-shadow: #EEE 1px 1px 0;
  }
#midas_modal h1 a {
  display: block;
  float: right;
  font-size: 10px;
  cursor: pointer;
  color: #666;
  padding: 4px;
  height: 20px;
  margin-top: -4px;
  }
#midas_modal h1 a:hover {
  color: #333;
  }
#midas_modal .midas-modal-content-container {
  overflow: auto;
  }
#midas_modal .midas-modal-content {
  color: #000;
  height: 25px;
  padding: 20px 20px 10px;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  }
#midas_modal .midas-modal-content:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
  }
#midas_modal .midas-modal-controls {
  padding: 15px 0 5px;
  margin: 0 20px;
  border-top: 1px solid #CCC;
  text-align: right;
  }
#midas_modal td.midas-modal-pane {
  height: 100%;
  }

/* Forms
 *----------------------------------------------------------------------------*/
#midas_modal fieldset {
  border: 1px solid #CCC;
  margin: 0 0 10px;
  clear: both;
  }
#midas_modal fieldset.no-border {
  border: none;
  }
#midas_modal fieldset legend {
  font-weight: bold;
  }
#midas_modal p {
  display: block;
  clear: both;
  margin: 0;
  }
#midas_modal label {
  display: inline-block;
  padding-top: 4px;
  width: 30%;
  }
#midas_modal label.text-right {
  text-align: right;
  padding-top: 6px;
  }
#midas_modal input[type=text],
#midas_modal select,
#midas_modal textarea {
  font-size: 13px;
  width: 66%;
  padding: 2px;
  margin-left: 5px;
  border: 2px solid #999;
  }
#midas_modal .midas-modal-content input[disabled] {
  background: #EEE;
  }

#midas_modal .input {
  display: inline-block;
  margin-left: 30px;
  padding-left: 5px;
  width: 66%;
  }


/* Specific Modals
 *----------------------------------------------------------------------------*/
/* character selector */
#midas_character_selector {
  width: 456px;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  }
#midas_character_selector div {
  border: 1px solid #999;
  background: #FFF;
  margin: 0 2px 2px 0;
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 11pt;
  line-height: 23px;
  cursor: pointer;
  }
#midas_character_selector div:hover {
  background: #DDD;
  }
#midas_character_selector #midas_character_display {
  clear: both;
  height: auto;
  border: none;
  width: 100%;
  margin: 10px auto;
  cursor: default;
  background: none;
  }
#midas_character_selector #midas_character_display:hover {
  background: none;
  }
#midas_character_selector #midas_character_display span {
  display: block;
  font-size: 14pt;
  text-align: right;
  float: left;
  height: 60px;
  line-height: 65px;
  width: 85%;
  }
#midas_character_selector #midas_character_display em {
  display: block;
  float: right;
  width: 60px;
  height: 60px;
  line-height: 68px;
  font-size: 36pt;
  border: 1px solid #999;
  font-style: normal;
  background: #FFF;
  }

/* html editor */
#midas_html_editor {
  height: 100%;
  }
#midas_html_editor textarea {
  width: 600px;
  height: 100%;
  font-family: monospace;
  white-space: pre;
  resize: none;
  }

/* sanitizer (when pasting from office) */
#midas_sanitizer {
  width: 456px;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: 9pt;
  }
#midas_sanitizer .midas-information {
  background: url(../images/midas/clippy.png) no-repeat top left;
  min-height: 65px;
  padding-left: 50px;
  }
#midas_sanitizer textarea {
  width: 454px;
  font-family: monospace;
  white-space: pre;
  }

/* link generator */
#midas_link_generator {
  width: 500px;
  }
#midas_link_generator #midas_link_popup_options {
  margin-left: 33%;
  }
#midas_link_generator #midas_link_popup_options label {
  width: 70px;
  text-align: right;
  }
#midas_link_generator #midas_link_popup_options input {
  width: 60px;
  }
