/* Panel
 *----------------------------------------------------------------------------*/
.midas-panel {
  position: absolute;
  background-color: #111;
  opacity: 0.85;
  width: 0;
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #FFF;
  float: left;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: 9.5pt;
  z-index: 10003;
  }
.midas-panel.loading {
  background-image: url(../images/midas/loading-dark.gif);
  }

.midas-panel h3 {
  font-size: 11pt;
  padding: 10px 60px 8px 15px;
  margin: 0;
  background: #333;
  }
.midas-panel h3.title {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 17px;
  cursor: move;
  }
.midas-panel .midas-panel-pane {
  padding: 15px;
  overflow: auto;
  }
.midas-panel .midas-panel-pane h3 {
  margin: 10px -15px;
  font-size: 9.5pt;
  font-weight: normal;
  padding: 8px;
  background: #333;
  }
.midas-panel .midas-panel-pane .midas-panel-content {
  overflow: hidden;
  }