/* Region
 *----------------------------------------------------------------------------*/
.midas-region {
  outline: 1px dotted #F00;
  margin-right: 1px;
  margin-left: 1px;
  box-sizing: border-box;
  }
.midas-region-preview {
  outline: none;
  }
.midas-region table,
.midas-region td,
.midas-region th {
  border: 1px dotted #F00;
  }
